@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.flex-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}



